.movie-card{
  width: 220px;
  height: 330px;
  background-size: cover;        /* 이미지가 카드를 꽉 채우도록 */
  background-position: center;   /* 이미지 중앙 정렬 */
  background-repeat: no-repeat;  /* 이미지 반복 없음 */
  cursor: pointer;
  transition: 0.7s;
  z-index: 2;
  margin: 20px;
  position: relative;
}
.movie-card::before{
  position: relative;
  width: 100%;
  padding-top: 150%;
  background-size: cover;        /* 이미지가 카드를 꽉 채우도록 */
  background-position: center;   /* 이미지 중앙 정렬 */
  background-repeat: no-repeat;  /* 이미지 반복 없음 */
  content: '';
  display: block;
  min-width: 100%;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 0.8s;
  color:white;
  font-weight: bold;
  overflow-wrap:break-word;
  box-sizing: border-box;
  padding: 10%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover{
  opacity: 1;

}


.movie-card:hover{
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
}

.movie-detail-Info{
  padding-top: 40px;
  background: none;
  
}

.movieTitle{
  justify-content: left;
}

.movie-detail-Info div{
  background-color: rgba(43, 41, 41, 0.5);
  color: rgb(255, 243, 173);
  font-size: 1rem;
  text-align: left; 
}


@media (min-width:375px) and (max-width:1025px) {
  .movie-card {
    margin: auto;
  } 
  .movie-card::before{
    margin-top: 30px;
  }

}
@media (min-width:1025px){
  .movie-card .overlay {
      font-size:1vw;
  }
  .movie-card .movie-detail-Info{
      font-size:0.8vw;
  }
}